[Unit]
Description=Makerspace Auth
After=network.target

[Service]
Type=simple
Environment=PYTHONIOENCODING='utf-8'
Environment=PYTHONUNBUFFERED='x'
EnvironmentFile=/home/pi/amt_door/device.env
EnvironmentFile=/home/pi/amt_door/fatt.env
User=pi
Group=pi
WorkingDirectory=/home/pi/amt_door
ExecStart=/home/pi/amt_door/venv/bin/python -u main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
