[Unit]
Description=AMT Laser Service
After=network.target

[Service]
Type=simple
Environment=PYTHONIOENCODING='utf-8'
Environment=PYTHONUNBUFFERED='x'
EnvironmentFile=/home/pi/amt_laser/device.env
EnvironmentFile=/home/pi/amt_laser/fatt.env
User=root
Group=pi
WorkingDirectory=/home/pi/amt_laser
ExecStart=/home/pi/venv/bin/python -u main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
